<html>

<head>
  <title>pretty Sweet ¢®¥ÞƮø Suite</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script data-main="scripts/main" src="scripts/require.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

<body>
  <header>
    <i>pretty</i> Sweet ¢®¥ÞƮø Suite</header>
  {{range .Ciphers}} {{$id := .ID}}
  <section id={{.ID}}>
    <h1>{{.Title}}</h1>
    {{range .CipherMethods}} {{$name := .Name}}
    <div class="cipher-method">
      {{range .Parameters}}
      <label>
        {{.FriendlyName}} {{if eq .Type "textarea"}} {{$id}}-{{$name}}
        <textarea id="caesar-encrypt-plaintext" placeholder="Characters not in the alphabet will be ignored."></textarea> {{else if eq .Type "text"}} text {{end}}
      </label>
      {{if .Placeholder}}
      <div>
        B{{.Placeholder}}
      </div>
      {{end}}
      <div>
        C{{.Type}}
      </div>
      {{end}}
      <button id="caesar-encrypt-button">Encrypt</button>
      <div class="result"></div>
    </div>
    {{end}}
  </section>
  {{end}}
</body>

</html>

<!--
  <section id="caesar">
    <h1>Caesar Cipher</h1>
    <div class="cipher-method">
      <label>Plaintext
        <textarea id="caesar-encrypt-plaintext" placeholder="Characters not in the alphabet will be ignored."></textarea>
      </label>
      <label>Alphabet
        <textarea id="caesar-encrypt-alphabet" placeholder="Alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</textarea>
      </label>
      <label>Shift
        <input type="text" id="caesar-encrypt-shift" class="int" placeholder="Integer">
      </label>
      <button id="caesar-encrypt-button">Encrypt</button>
      <div class="result"></div>
    </div>
  </section>
-->