* {
  box-sizing: border-box;
  border-radius: 0.25em;
}

html,
button {
  font-family: "Inconsolata", monospace;
}

html {
  margin: 2em;
}

a {
  text-decoration: none;
  font-style: normal;
  border-bottom: solid hsl(308, 44%, 80%) 3px;
  color: black;
  transition: background 0.25s ease-in-out;
}

a:hover {
  background: hsl(308, 44%, 80%);
}

h1 {
  display: flex;
  box-shadow: 0 0 0.2em #ccc;
  align-items: center;
}

h1 img {
  height: 1em;
}

#viewport {
  /* background: #eee; */
  padding: 0.5em;
}

header {
  background: white;
  padding: 0.25em;
  font-size: 28pt;
  text-align: center;
}

header i {
  color: rgb(184, 73, 169);
}

input,
textarea {
  border: 0;
  font-size: 1em;
  margin-top: 0.25em;
}

.ciphers {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cipher-method {
  display: flex;
  border: dashed #ddd 1px;
  flex-direction: column;
}

h1,
h2 {
  font-size: 1.3em;
  margin: 0.5em;
  padding: 0.25em;
  text-align: center;
}

h2 {
  background: white;
  margin: 0;
  /* width: 100%; */
}

textarea {
  vertical-align: middle;
  height: 5em;
}

p {
  max-width: 40em;
}

.cipher-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5em;
}

.cipher-header p {
  margin-right: 1em;
  margin-left: 1em;
  text-align: justify;
}

.cipher-header div img {
  width: 5em;
}

.cipher-header img {
  width: 18em;
  max-width: 90%;
}

.cipher-header img + * {
  margin-top: 0.5em;
}

.cipher-methods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cipher-method {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em;
  padding: 0.25em;
}

.cipher-method > div {
  margin: 0.25em;
}

.cipher {
  display: flex;
  background: white;
  box-shadow: 0 0 0.4em #ccc;
  flex-direction: column;
  margin: 0.5em;
}

.inputs {
  display: flex;
  background: white;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.5em;
}

.input {
  display: flex;
  background: #eee;
  margin: 0.5em;
  padding: 0.25em;
  white-space: pre-line;
}

label {
  display: flex;
  flex-direction: column;
}

.result {
  background: rgb(208, 255, 137);
  border-radius: 4px;
  white-space: pre-wrap;
  /* min-height: 1.7em; */
  padding: 0.3em 1em;
}

button {
  background: rgb(44, 44, 44);
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  margin: 0;
  padding: 5px 15px;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  content: "";
  border-top: solid red 3px;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
