* {
  box-sizing: border-box;
}

html,
button {
  font-family: "Inconsolata", monospace;
}

header {
  font-size: 28pt;
  text-align: center;
  border-radius: 70px;
  border-bottom: solid rgb(204, 204, 204) 2px;
  padding-bottom: 10px;
}

header i {
  color: rgb(184, 73, 169);
}

h1 {
  background: #eee;
  border-radius: 5px;
  font-size: 16pt;
  padding: 5px;
  text-align: center;
}

textarea {
  vertical-align: middle;
  height: 50px;
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.row * {
  margin: 10px;
}

.result {
  background: rgb(208, 255, 137);
  border-radius: 4px;
  padding: 5px 15px;
}

button {
  background: rgb(44, 44, 44);
  border: 0px;
  border-radius: 4px;
  color: white;
  padding: 5px 15px;
}

.int {
  width: 90px;
}
